body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;

  background: linear-gradient(135deg, #43cea2, #185a9d);
  min-height: 100vh;
}

.container {
  width: 340px;
  margin: 80px auto;
  padding: 25px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.app-title {
  font-size: 26px;
  font-weight: bold;
  color: #185a9d;
  margin-bottom: 5px;
}

.tagline {
  font-size: 13px;
  color: #666;
  margin-bottom: 15px;
  text-align: center; 
  width: 100%; 
}

input {
  width: 92%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #43cea2;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  width: 100%;
  font-weight: bold;
}

button:hover {
  background-color: #25acc1;
}


.link {
  color: #185a9d;
  cursor: pointer;
  margin-top: 12px;
  display: block;
  font-size: 14px;
}

.message {
  margin-top: 12px;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
}

.success {
  background-color: #d4edda;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}


.button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;   /* space between buttons */
  margin-top: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 10px;
  margin-top: 12px;
  text-align: left;
  background: #f9f9f9;
}

.card h3 {
  margin: 0;
  color: #185a9d;
}

.card button {
  margin-top: 8px;
  margin-right: 8px;
  width: auto;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 1000;
}

.header-left {
  font-weight: bold;
}

.header-center {
  display: flex;
  gap: 30px;
}

.header-center span {
  cursor: pointer;
  font-weight: 500;
}

.header-right button {
  margin-right: 100%;
  width: auto;
  padding: 6px 12px;
}

/* PAGE SPACING */
.page {
  margin-top: 80px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 1000;
}

.header-left {
  font-weight: bold;
}

.header-center {
  display: flex;
  gap: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-right {
  margin-left: auto;
}

.header-right button {
  width: auto;
  padding: 6px 14px;
}


/* BUTTON GROUP */
.button-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* BACK BUTTON */
.back-btn {
  width: auto;
  margin-bottom: 15px;
  background: #185a9d;
}

/* REQUEST CARD */
.card {
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 10px;
  margin-top: 12px;
  text-align: left;
  background: #f9f9f9;
}


